# Datos: no deben incluirse en el repositorio Git
data/raw/**
data/processed/**
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# Jupyter
.jupyter/
.local/

# Sistema operativo / editores
.DS_Store
Thumbs.db
.idea/
.vscode/
.lab_env/